@import "../../styles/screen-defs.scss";

.sustainFeed {
  &__problem-content {
    background-color: #282828;
    padding: 30px 20px;
    border-radius: 40px;
    color: #fff;
    height: 100%;
    text-align: center;

    @include screen-xs {
      font-size: 16px;
    }
  }

  &__problem {
    .ant-col {
      @include screen-xs {
        margin-bottom: 20px;
      }
    }
  }

  &__research {
    .ant-col {
      @include screen-xs {
        margin-bottom: 20px;
      }
    }

    &-content {
      background-color: #f9f9f9;
      padding: 30px 60px;
      border-radius: 40px;
      height: 100%;

      @include screen-xs {
        padding: 30px 30px 30px 40px;
      }
    }
  }

  &__prototype {
    .ant-col {
      @include screen-xs {
        margin-bottom: 40px;
      }
    }

    &-text {
      margin-top: 30px;
      text-align: center;
      font-weight: 12px;
      @include screen-xs {
        margin-top: 10px;
      }
    }
  }

  &__result {
    .ant-col {
      @include screen-xs {
        margin-bottom: 20px;
      }
    }

    &-text {
      background-color: #f9f9f9;
      padding: 30px;
      border-radius: 40px;
      // color: #fff;
      height: 100%;
      text-align: center;

      &.center {
        display: flex;
        align-items: center;
      }
    }

    .project__section-description {
      margin-bottom: 60px;
    }

    img {
      margin-bottom: 30px;
    }
  }
}
