
.introduction{
    display: flex;
    margin-top: 100px;

    // #screen.xs({
    //     height: 600px !important;
    // });

    // #screen.xxs({
    //     height: 400px !important;
    // });

    &__container{
        width: 1040px;
        margin: auto;
        // height: calc(100vh - 100px);
        height: 60vh;
        position: relative;

        @media(max-width: 1040px){
            width: 700px;
        }

        @media(max-width: 700px){
            width: 100%;
        }

        // #screen.xs({
        //     height: 100%;
        //     background-image: url('/public/images/home/combined-image.png');
        //     background-size: contain;
        //     background-repeat: no-repeat;
        //     width: 70%;
        //     background-position-y: center;
        // });
    }
    
    &__designer, &__coder{
        height: 600px;
        position: absolute;
        top: 50%;
        width: 420px;
        background-size: cover;
        background-repeat: no-repeat;
        transform: translate(0, -50%);

        @media(max-width: 1040px){
            height: 357px;
            transform: translate(0, -50%);
        }

        @media(max-width: 700px){
            height: 357px;
        }

        // #screen.xs({
        //     display: none;
        // })
    }
    
    //TODO : update location of these images
    &__designer{
        left: 100px;
        background-image: url('/public/about/intro.png');
        background-position: -50%;
    }
    
    &__coder{
        right: 100px;
        background-image: url('/public/about/intro-coder.png');
        background-position: 180%;
    }
}