@import "../../styles/screen-defs.scss";

.projects {
  padding-bottom: 80px;
  display: flex;
  gap: 30px;
  flex-direction: column;

  @include screen-xs {
    gap: 0;
  }

  // &__row2 {
  //   margin-top: 30px;
  // }

  &__db,
  &__nui {
    width: 100%;
    height: 750px;
    // height: 60%;
    object-fit: cover;

    @include screen-xs {
      height: 300px;
      margin-bottom: 20px;
    }
  }

  &__db {
    &-text {
      bottom: 40px;
      left: 40px;

      @include screen-xs {
        bottom: 40px;
        left: 20px;
      }
    }
  }

  &__nui {
    &-text {
      bottom: 40px;
      right: 40px;

      @include screen-xs {
        bottom: 40px;
        left: 20px;
        right: auto;
      }
    }
  }

  &__siemens {
    @include screen-xs {
      height: 300px;
      margin-bottom: 20px;
      width: auto;
    }

    &-text {
      top: 40px;
      left: 40px;

      @include screen-xs {
        bottom: 40px;
        left: 20px;
        top: auto;
      }
    }
  }

  &__sustainFeed-wrapper {
    margin-bottom: 30px;

    @include screen-xs {
      margin-bottom: 0px;
    }
  }

  &__sustainFeed {
    width: 100%;
    height: 695px;
    object-fit: cover;

    @include screen-xs {
      height: 300px;
      margin-bottom: 20px;
    }

    &-text {
      top: 40px;
      left: 40px;
      color: #111 !important;

      @include screen-xs {
        bottom: 40px;
        left: 20px;
        top: auto;
      }
    }
  }

  &__melodyMotion {
    width: 100%;
    height: 550px;
    object-fit: cover;

    @include screen-xs {
      height: 300px;
      margin-bottom: 20px;
    }

    &-text {
      top: 40px;
      left: 40px;

      @include screen-xs {
        bottom: 40px;
        left: 20px;
        top: auto;
      }
    }
  }

  &__cyclist {
    width: 100%;
    height: 1275px;
    // height: 60%;
    object-fit: cover;

    @include screen-xs {
      height: 300px;
      margin-bottom: 20px;
    }

    &-text {
      top: 40px;
      right: 40px;

      @include screen-xs {
        bottom: 40px;
        left: 20px;
        right: auto;
        top: auto;
      }
    }
  }

  .coming-soon {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
    background-color: #111;
    color: #fff;
    font-size: 18px;
    padding: 10px 0;

    @include screen-xs {
      bottom: auto;
      top: 20%;
    }
  }

  .navigate {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0;
  }
}
