.projects {
  padding-bottom: 80px;
  display: flex;
  gap: 30px;
  flex-direction: column;

  // &__row2 {
  //   margin-top: 30px;
  // }

  &__db,
  &__nui {
    width: 100%;
    height: 750px;
    // height: 60%;
    object-fit: cover;
  }

  &__db{
    &-text{
      bottom: 40px;
      left: 40px;
    }
  }

  &__nui{
    &-text{
      bottom: 40px;
      right: 40px;
    }
  }

  &__siemens{
    &-text{
      top: 40px;
      left: 40px;
    }
  }

  &__sustainFeed-wrapper {
    margin-bottom: 30px;
  }

  &__sustainFeed {
    width: 100%;
    height: 695px;
    object-fit: cover;

    &-text{
      top: 40px;
      left: 40px;
      color: #111 !important;
    }
  }

  &__melodyMotion {
    width: 100%;
    height: 550px;
    object-fit: cover;
    &-text{
      top: 40px;
      left: 40px;
    }
  }

  &__cyclist {
    width: 100%;
    height: 1275px;
    // height: 60%;
    object-fit: cover;

    &-text{
      top: 40px;
      right: 40px;
    }
  }

  .tilt-card {
    .tilt-card-text{
      position: absolute;
      opacity: 0;
      transition: opacity 600ms;
      font-size: 40px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 0;
    }

    &:hover {
      .tilt-card-text{
        opacity: 1;
      }
    }
  }

  .coming-soon{
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
    background-color: #111;
    color: #fff;
    font-size: 18px;
    padding: 10px 0;
  }
}
