.hero {
  &__content {
    padding: 64px 0 80px;

    h1 {
      color: #111111;
    }
  }

  &__action {
    padding-top: 24px;
    display: flex;
    gap: 24px;
    align-items: center;
  }

  &__button {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(60, 60, 67, 0.2);
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 0px;
    opacity: 1;
    height: 56px;
    padding: 15px 24px;

    color: #111111;
    font-size: 14px;
    font-weight: 700;
    transition: font-size 300ms;

    &:hover{
      color: #111;
      font-size: 18px;
    }
  }

  &__open {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__dot {
    aspect-ratio: 1 / 1;
    background-color: #12c971;
    border-radius: 100%;
    flex: none;
    height: var(--framer-aspect-ratio-supported, 10px);
    position: relative;
    width: 10px;
  }

  &__open-text{
    color: #088046;
    font-size: 16px;
  }
}
