@import "../../styles/screen-defs.scss";

.header {
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  transition: box-shadow 1s ease;

  @include screen-xs {
    padding: 20px 0;
  }

  &--scrolled {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    font-size: 22px;
    color: #111111;
    font-weight: 500;
    margin-bottom: 0px;

    @include screen-xs {
      font-size: 16px;
    }
  }

  &__subtitle {
    font-size: 22px;
    color: #666666;

     @include screen-xs {
      font-size: 16px;
    }
  }

  &__about {
    font-size: 18px;
    color: #666666;
    margin-bottom: 0;
  }
}
