@import "../../styles/screen-defs.scss";

.siemens {
  &__problem {
    .ant-col {
      @include screen-xs {
        margin-bottom: 20px;
      }
    }
    &-card {
      background-color: black;
      padding: 30px 20px;
      font-size: 18px;
      color: #ffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      height: 100%;
      border-radius: 40px;
      text-align: center;

      @include screen-xs {
        padding: 20px 10px;
        font-size: 16px;
      }

      img {
        width: 100px;
        height: fit-content;
        @include screen-xs {
          width: 60px;
        }
      }

      p {
        margin-bottom: 0px;
      }
    }
  }

  &__solution {
    ul {
      @include screen-xs {
        padding-left: 20px;
      }
    }

    li {
      margin-bottom: 24px;
    }
  }
}
