@import "../../styles/screen-defs.scss";

.footer {
  padding: 60px 0;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 80px;

  @include screen-xs {
    padding: 40px 0;
    margin-top: 30px;
  }

  .projects__sustainFeed-wrapper {
    margin-bottom: 0px;
  }

  .projects__sustainFeed-text {
    color: #fff !important;
  }

  .tilt-card {
    height: 200px;

    @include screen-xs {
      height: 100px;
    }

    .tilt-card-text {
      font-size: 30px;

      @include screen-xs {
        font-size: 16px;
      }
    }

    .navigate {
      font-size: 20px;
      margin-bottom: 0;
      color: #fff;
      @include screen-xs {
        font-size: 12px;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      display: block;
    }
  }

  .prev {
    left: 20px !important;
    bottom: 20px !important;
    right: auto !important;
    top: auto !important;
  }

  .next {
    right: 20px !important;
    bottom: 20px !important;
    left: auto !important;
    top: auto !important;
  }

  .social-links {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    @include screen-xs {
      margin-top: 30px;
      gap: 20px;
    }

    img {
      width: auto;
      height: 40px;

      @include screen-xs {
        height: 20px;
      }
    }
  }
}
