.tilt-card {
  color: #fff;

  .tilt-card-text-container {
    position: absolute;
    opacity: 0;
    transition: opacity 600ms;
  }

  .tilt-card-text {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
  }

  .navigate {
    font-size: 16px;
  }

  &:hover {
    .tilt-card-text-container {
      opacity: 1;
    }
  }
}
